# Chặn tất cả các file trong thư mục
*

# NHƯNG ngoại trừ các file hoặc thư mục sau:
!*.c
!.gitignore
!README.md
!*.txt
!*.csv
!*.h
!Chapter08and09/makefile

# Nếu bạn có thư mục con chứa code thì bỏ chặn thêm (ví dụ):
!*/